*.Rhistory
.Rproj.user/50E3BF26/build_options
*.pper
.Rproj.user/50E3BF26/sdb/prop/28FDB23E
.Rproj.user/50E3BF26/sdb/prop/35A910D3
.Rproj.user/50E3BF26/sdb/prop/44A0CB2C
.Rproj.user/50E3BF26/sdb/prop/5528ED7B
.Rproj.user/50E3BF26/sdb/prop/60C1C944
.Rproj.user/50E3BF26/sdb/prop/681C7D03
.Rproj.user/50E3BF26/sdb/prop/661145E8
.Rproj.user/50E3BF26/sdb/prop/80196877